{% load static %}


<nav class="navbar navbar-expand-lg navbar-light nav_bar d-flex justify-content-between" style="position: sticky;position: -webkit-sticky;position: -webkit-sticky;
    position: sticky;
    top: 0;z-index: 1;">

      <div>

          <div class="dropdown" style="display: inline;">
                <button class="basket btn buttons dropdown-toggle mt-3 mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="create_basket()" style="font-size: 15px" ><i class="fas fa-shopping-basket"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="sabad" style="height: auto; width: 500px">
                    <button class="btn btn-primary ml-5 mb-1" onclick="delete_basket({{ user.user_baskets.id }})" style="font-size: 13px;width: 30%">حذف سبد خرید</button>

                    <div style="font-size: 12px;width: 100%;height: auto" dir="rtl">

                        <table class="table" id="basket_list" style="text-align: center">
                            <thead>
                              <tr>
                                <th scope="col">تصویر</th>
                                <th scope="col">محصول</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">تعداد</th>
                              </tr>
                            </thead>
                            <button id="hide_button" onclick="test({{ user.user_baskets.id }})" hidden>dsdsd</button>
                            <tbody id="simon">

                            {% for basket_item in basket_items|slice:"0:4" %}
                                {% if basket_item.basket.user ==  user  %}
                                         <tr id="ef{{ basket_item.id }}">
                                            <td><img src="{{ basket_item.shop_product.product.image.url }}" style="width: 30px;height: 30px"></td>
                                            <td>{{ basket_item.shop_product.product.title }}</td>
                                            <td id="d{{ basket_item.id }}">{{basket_item.shop_product.price}}</td>
                                            <td>
                                                <button class="btn" style="border: none;background-color: transparent" onclick="plus_item({{ basket_item.id }})"><i class="fas fa-plus" style="color: green"></i></button>
                                                <span class="ml-1 mr-1 huncho" id="{{ basket_item.id }}">{{ basket_item.count }}</span>
                                                <button class="btn" style="border: none;background-color: transparent" onclick="minus_item({{ basket_item.id }})"><i class="fas fa-minus" style="color: red"></i></button>
                                                <button class="btn" style="border: none;background-color: transparent" onclick="delete_basket_item({{ basket_item.id }})"><i class="fa fa-trash" aria-hidden="true" style="color: black"></i></button>
                                                <input id="id_for_delete" value="{{ basket_item.id }}" type="hidden">

                                            </td>
                                         </tr>
                                {% endif %}

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div style="text-align: center">
                        <a style="text-align: center;font-size: 13px" href="{% url 'user_basket' %}">مشاهده سبد خرید</a>
                    </div>



                </div>
          </div>

        <span class="m-2">|</span>
          {% if user.is_authenticated %}

              <button class="login_btn"><a href="{% url 'logout' %}" style="color: black;text-decoration: none;text-align: center;font-weight: bold">خروج از حساب کاربری</a> <i class="fas fa-user"></i></button>
              <button class="login_btn"><a href="{% url 'user_details' request.user.slug %}" style="color: black;text-decoration: none;text-align: center;font-weight: bold">مشاهده پروفایل کاربری</a> <i class="fas fa-user"></i></button>
          {% else %}
              <button class="login_btn"><a href="{% url 'login' %}" style="color: black;text-decoration: none;text-align: center;font-weight: bold">ورود به حساب کاربری</a> <i class="fas fa-user"></i></button>
          {% endif %}

      </div>
         <div class="d-flex">
          <div style="margin-top: 20px;">
            <form action="{% url 'search' %}" method="post">
             {% csrf_token %}
              <button class="search_btn"><i class="fas fa-search " style="color: gray;font-size: 17px;text-align: right;"></i></button>
              <input type="text" class="search_field" placeholder="... جستجو کن " name="search" style="font-size: 15px;padding-top: 10px;padding-bottom: 10px">
            </form>

          </div>
          <div class="m-2">

              <a href="{% url 'home' %}">
                  <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/3957.png" style="height: 50px;width: 50px;">
              </a>
        </div>
      </div>
    </nav>






    <div class="row w-100 p-0 m-0 cat_div mr-2 mb-1 d-flex justify-content-around">
      <div class="dropdown mt-2">
        <button style="font-size: 13px" class="btn buttons dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i id="button" class="fa fa-list-alt" aria-hidden="true"></i> دسته بندی ها</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdowns">
                <div style="text-align: center">
                    <dl>
                        {% for category in categories %}
                            <dt><a class="dropdown-item" href="{% url 'categories_product' category.slug%}" style="font-weight: bold">{{ category.category_name }}</a></dt>
                            {% for child in childs %}
                               {% if child.parent == category %}
                                 <dd style="font-size: 11px"><a class="dropdown-item" href="{% url 'categories_product' child.slug%}" style="font-weight: bold">{{ child.category_name }}</a></dd>
                               {% endif %}
                            {% endfor %}


                        {% endfor %}

                    </dl>



                </div>
        </div>
      </div>

      <div class="dropdown mt-2">
        <button style="font-size: 13px" class="btn buttons dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-store"></i> فروشگاه ها</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for shop in shops %}
                 <a class="dropdown-item" href="{% url 'shops_product' shop.slug%}">{{ shop.name }}</a>
            {% endfor %}
        </div>
      </div>


      <div class="dropdown mt-2">
        <button style="font-size: 13px" class="btn buttons dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tags"></i> برندها</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for brand in brands %}
                 <a class="dropdown-item" href="{% url 'brands_product' brand.slug%}">{{ brand.brand_name }}</a>
            {% endfor %}
        </div>
      </div>


      <button  class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 13px"><i class="far fa-question-circle"></i> سوالی دارید</button>
    </div>

{% block javascript %}
<script>

function create_basket() {
             $.ajax({
                    type: 'post',
                    data:{'user':''},
                    url: "{% url 'create_basket' %}",
                    success: function (response) {

                        const data = JSON.parse(response)
                        console.log(data)



                    }
                });
        }






    function delete_basket() {
        $("#basket_list tbody").remove();
         $.ajax({
                type: 'post',
                data:{'user':''},
                url: "{% url 'delete_basket' %}",
                success: function (response) {
                    console.log(response)


                }
            });
    }


    function plus_item(basket_item_id){
        const data = JSON.stringify({basket_item_id: basket_item_id})

        $.ajax({
                type: 'post',
                url: "{% url 'plus_basket_item' %}",
                data: data,
                success: function (response) {
                    console.log(response)
                    const data = JSON.parse(response)
                    var plus = '#' + data['basket_item_id']
                    var price = '#d'+data['basket_item_id']
                    $(plus).text(data['basket_item_count'])
                    $(price).text(data['price'])


                }
            });

    }



    function minus_item(basket_item_id){
        const data = JSON.stringify({basket_item_id: basket_item_id})

        $.ajax({
                type: 'post',
                url: "{% url 'minus_basket_item' %}",
                data: data,
                success: function (response) {
                    console.log(response)
                    const data = JSON.parse(response)
                    const minus = '#' + data['basket_item_id'];
                    const price = '#d' + data['basket_item_id'];
                    $(minus).text(data['basket_item_count'])
                     $(price).text(data['price'])

                }
            });

    }
    function delete_basket_item(basket_item_id) {
      const data = JSON.stringify({basket_item_id: basket_item_id})

      $.ajax({
                type: 'post',
                url: "{% url 'delete_basket_item' %}",
                data: data,
                success: function (response) {
                    console.log(response)
                    const data = JSON.parse(response)
                    const id = '#ef' + data['basket_item'];
                    $(id).remove();


                }
            });
      if ($('.huncho').val()==='0'){
          delete_basket($('#id_for_delete').val())
      }
}




</script>
{% endblock %}




{#                        var i;#}
{#                        for (i = 0; i < data.length; i++) {#}
{#                            $("#sabad").prepend(`<span>yesss</span>`)#}
{#                        }#}